@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink-cursor {
    animation: blink 1s step-end infinite;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* background: linear-gradient(90deg, rgb(30, 30, 31) 0%, rgb(65, 55, 31) 100%); */
  background-image:
    linear-gradient(270deg, rgb(20, 4, 4) 0%, rgb(var(--primary-color-3)) 100%),
    url('/public/smokedesign1.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;

  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.675px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eeeeee;
}

.border {
  border: 1px solid !important;
}

button {
  font-weight: bold;
  background-color: rgba(var(--primary-color-1), 1);
  color: rgba(var(--title-color), 1);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.111);
  border: 1px solid rgba(var(--primary-color-1), 1);
  cursor: pointer;
  border-radius: 999px;
  padding: 0.5rem 1.1rem;
  transition: all 0.3s ease;
}

button:hover {
  scale: 1.03;
}

button,
p,
strong,
pre {
  font-family: "Montserrat Alternates", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color-1: 120, 20, 30;
  --primary-color-2: 95, 15, 25;
  --primary-color-3: 60, 10, 15;

  --secondary-color-1: 177, 223, 61;
  --secondary-color-2: 105, 136, 27;
  --secondary-color-3: 45, 59, 9;

  --title-color: 255, 227, 213;
  --subtitle-color: 186, 186, 186;
}